/*Colors:
Red: #A51417
Green: #2B8282
Dark Gray: #3D3D3D
Light Gray: #808080
*/
*{
    display:block;
    color:#3D3D3D;
    letter-spacing: normal;
    font-family: Source Sans Pro, sans-serif;
}
html{
    padding:0px;
}
body{
    left:0px;
}
div.header{
    height:64px;
    width:100%;
    position:fixed;
    left:0px;
    top:0px;
    background-color:#A51417;
    z-index:100;
}
div.header > img{
    position:absolute;
    max-height:54px;
    margin: 8px 0px 26px 26px;
    padding:0px;
}
/* div.header > p{
    color:white;
    position:absolute;
    left:80px;
    top:0px;
    font-size:19.2px;
    font-family: 'Cardo', serif;
    letter-spacing: -2px;
} */
div.push{
    position: relative;
    top: 0px;
    left: 0px;
    width: 90%;
    height: 36px;
}
div.scrn{
    top: 0px;
    left: 0px;
    width: 250px;
    height: 44px;
    font-size: 23px;
    font-weight: 400;
}
p.pscrn{
    margin:28px 0px 13px 40px;
    width:210px;
}
div.prof{
    top:-48px;
    left:300px;
    width:32px;
    height:32px;
    position: relative;
}
div.prof > img{
    width:32px;
}
div.contain{
    padding: 0px 0px 0px;
    width:98%;
    left:0px;
    position: relative;
    height: max-content;
    text-align: center;
}
p.mini{
    position: relative;
    color:#808080;
    font-size: 13.3px;
    margin: 0px 0px 7px;
}
p.info{
    font-size:19.2px;
    margin: 7px 0px 0px;
}
div.hr{
    height:20px;
}
img.check{
    margin:0px auto 12px;
    
}
p.green{
    color:#2B8282;
}
